1 Crie um banco de dados e a tabela abaixo, insira os valores apresentados e em seguida 

escreva as consultas solicitadas abaixo.

In [ ]:
CREATE DATABASE ATIVIDADE

In [ ]:
USE atividade

In [36]:
drop TABLE atividade.dbo.vendas

Criando tabela.

In [37]:
CREATE TABLE Vendas(
	 id_nf int not null
	,id_item int not null
	,cod_prod	int not null
	,valor_unit	money check( valor_unit > 0 )
	,quantidade	tinyint check (quantidade > 0)
	,desconto	smallmoney	default 0.00
)

Realizando Bulk Insert de dados na tabela.

In [38]:
begin transaction
BULK INSERT Vendas
from 'C:\Users\PAI\Documents\SQL Server Management Studio\Atividade\vendas.csv'
with( FIELDTERMINATOR = ',', ROWTERMINATOR = '\n', FIRSTROW = 2 )
commit

a) Pesquise os itens que foram vendidos sem desconto. As colunas presentes no resultado da 

consulta são: ID\_NF, ID\_ITEM, COD\_PROD E VALOR\_UNIT.

In [39]:
select   id_nf
        ,id_item
        ,cod_prod
        ,valor_unit
from vendas
where desconto = 0.00

id_nf,id_item,cod_prod,valor_unit
1,2,2,"13,50"
1,3,3,"15,00"
1,4,4,"10,00"
1,5,5,"30,00"
2,1,3,"15,00"
2,2,4,"10,00"
2,3,5,"30,00"
3,1,1,"25,00"
3,2,4,"10,00"
3,3,5,"30,00"
3,4,2,"13,50"
5,1,3,"15,00"
5,2,5,"30,00"

b) Pesquise os itens que foram vendidos com desconto. As colunas presentes no resultado da 

consulta são: ID\_NF, ID\_ITEM, COD\_PROD, VALOR\_UNIT E O VALOR VENDIDO. OBS: O valor vendido 

é igual ao VALOR\_UNIT - (VALOR\_UNIT\*(DESCONTO/100)).

In [43]:
SELECT   ID_NF
        ,ID_ITEM
        ,COD_PROD
        ,SUM(VALOR_UNIT - (VALOR_UNIT*(DESCONTO/100)))  AS 'VALOR VENDIDO'
from atividade.dbo.vendas
WHERE desconto > 0.00
GROUP BY ID_NF
        ,ID_ITEM
        ,COD_PROD
GO

ID_NF,ID_ITEM,COD_PROD,VALOR VENDIDO
1,1,1,"23,75"
4,1,5,"25,50"
4,2,4,"9,50"
4,3,1,"23,75"
4,4,2,"12,825"
6,1,1,"21,25"
6,2,3,"12,00"
7,1,1,"24,25"
7,2,2,"12,96"
7,3,3,"14,40"
7,4,5,"29,70"

c) Altere o valor do desconto (para zero) de todos os registros onde este campo é nulo.

R: essa ação foi realizada de forma automatica ao criar a regra de valor padrão com a clausula Deafult().  
Assim valor null foi transformado em 0.00 no momento da inserção.

d) Pesquise os itens que foram vendidos. As colunas presentes no resultado da consulta são: ID\_NF, 

ID\_ITEM, COD\_PROD, VALOR\_UNIT, VALOR\_TOTAL, DESCONTO, VALOR\_VENDIDO. OBS: O 

VALOR\_TOTAL é obƟ do pela fórmula: QUANTIDADE \* VALOR\_UNIT. O VALOR\_VENDIDO é igual a 

VALOR\_UNIT - (VALOR\_UNIT\*(DESCONTO/100)).

In [47]:
SELECT   ID_NF
        ,ID_ITEM
        ,COD_PROD
        ,VALOR_UNIT
        ,sum(QUANTIDADE * VALOR_UNIT) AS 'VALOR TOTAL'
        ,DESCONTO
        ,SUM(VALOR_UNIT - (VALOR_UNIT*(DESCONTO/100))) AS 'VALOR VENDIDO'
FROM atividade.dbo.vendas
group by ID_NF
        ,ID_ITEM
        ,COD_PROD
        ,VALOR_UNIT
        ,DESCONTO
ORDER BY sum(QUANTIDADE * VALOR_UNIT) DESC
GO

ID_NF,ID_ITEM,COD_PROD,VALOR_UNIT,VALOR TOTAL,DESCONTO,VALOR VENDIDO
6,1,1,"25,00","550,00","15,00","21,25"
6,2,3,"15,00","375,00","20,00","12,00"
4,3,1,"25,00","325,00","5,00","23,75"
4,1,5,"30,00","300,00","15,00","25,50"
7,4,5,"30,00","300,00","1,00","29,70"
7,1,1,"25,00","250,00","3,00","24,25"
1,1,1,"25,00","250,00","5,00","23,75"
2,3,5,"30,00","210,00","0,00","30,00"
4,4,2,"13,50","202,50","5,00","12,825"
5,2,5,"30,00","180,00","0,00","30,00"
3,3,5,"30,00","150,00","0,00","30,00"
7,3,3,"15,00","150,00","4,00","14,40"
7,2,2,"13,50","135,00","4,00","12,96"
3,1,1,"25,00","125,00","0,00","25,00"
4,2,4,"10,00","120,00","5,00","9,50"
3,4,2,"13,50","94,50","0,00","13,50"
2,1,3,"15,00","60,00","0,00","15,00"
2,2,4,"10,00","50,00","0,00","10,00"
5,1,3,"15,00","45,00","0,00","15,00"
1,2,2,"13,50","40,50","0,00","13,50"
3,2,4,"10,00","40,00","0,00","10,00"
1,3,3,"15,00","30,00","0,00","15,00"
1,5,5,"30,00","30,00","0,00","30,00"
1,4,4,"10,00","10,00","0,00","10,00"

e) Pesquise o valor total das NF e ordene o resultado do maior valor para o menor. As colunas 
presentes no resultado da consulta são: ID_NF, VALOR_TOTAL. OBS: O VALOR_TOTAL é obƟ do pela 
fórmula: ∑ QUANTIDADE * VALOR_UNIT. Agrupe o resultado da consulta por ID_NF.

In [49]:
SELECT   ID_NF
        ,SUM(QUANTIDADE * VALOR_UNIT) AS 'VALOR TOTAL'
FROM atividade.dbo.vendas
GROUP BY ID_NF
ORDER BY sum(QUANTIDADE * VALOR_UNIT) DESC
GO

ID_NF,VALOR TOTAL
4,"947,50"
6,"925,00"
7,"835,00"
3,"409,50"
1,"360,50"
2,"320,00"
5,"225,00"

f) Pesquise o valor vendido das NF e ordene o resultado do maior valor para o menor. As colunas 

presentes no resultado da consulta são: ID\_NF, VALOR\_VENDIDO. OBS: O VALOR\_TOTAL é obƟ do 

pela fórmula: ∑ QUANTIDADE \* VALOR\_UNIT. O VALOR\_VENDIDO é igual a ∑ VALOR\_UNIT - 

(VALOR\_UNIT\*(DESCONTO/100)). Agrupe o resultado da consulta por ID\_NF.

In [53]:
SELECT   ID_NF
        ,sum(QUANTIDADE * (VALOR_UNIT - (VALOR_UNIT * (DESCONTO/100)))) as 'VALOR VENDIDO'
FROM atividade.dbo.vendas
GROUP BY ID_NF
ORDER BY sum(QUANTIDADE * (VALOR_UNIT - (VALOR_UNIT * (DESCONTO/100)))) DESC
GO

ID_NF,VALOR VENDIDO
4,"870,125"
7,"813,10"
6,"767,50"
3,"409,50"
1,"348,00"
2,"320,00"
5,"225,00"

g) Consulte o produto que mais vendeu no geral. As colunas presentes no resultado da consulta são: 

COD\_PROD, QUANTIDADE. Agrupe o resultado da consulta por COD\_PROD.

In [55]:
SELECT  COD_PROD
        ,SUM(QUANTIDADE) AS 'QUANTIDADE'
FROM    atividade.dbo.vendas
GROUP BY    COD_PROD
ORDER BY    SUM(QUANTIDADE) DESC
GO

COD_PROD,QUANTIDADE
1,60
3,44
5,39
2,35
4,22

h) Consulte as NF que foram vendidas mais de 10 unidades de pelo menos um produto. As colunas 

presentes no resultado da consulta são: ID\_NF, COD\_PROD, QUANTIDADE. Agrupe o resultado da 

consulta por ID\_NF, COD\_PROD.

In [60]:
SELECT   ID_NF
        ,COD_PROD
        ,SUM(QUANTIDADE) AS 'QUANTIDADE'
FROM atividade.dbo.vendas
WHERE quantidade > 10
GROUP BY ID_NF
        ,COD_PROD
GO

ID_NF,COD_PROD,QUANTIDADE
4,1,13
6,1,22
4,2,15
6,3,25
4,4,12

i) Pesquise o valor total das NF, onde esse valor seja maior que 500, e ordene o resultado do maior 

valor para o menor. As colunas presentes no resultado da consulta são: ID\_NF, VALOR\_TOT. OBS: O 

VALOR\_TOTAL é obƟ do pela fórmula: ∑ QUANTIDADE \* VALOR\_UNIT. Agrupe o resultado da consulta 

por ID\_NF.

In [66]:
SELECT   ID_NF
        ,SUM(QUANTIDADE * VALOR_UNIT) AS 'VALOR_TOTAL'
FROM atividade.dbo.vendas
WHERE (QUANTIDADE * VALOR_UNIT) > 500
GROUP BY ID_NF
ORDER BY SUM(QUANTIDADE * VALOR_UNIT) DESC
GO

ID_NF,VALOR_TOTAL
6,"550,00"

j) Qual o valor médio dos descontos dados por produto. As colunas presentes no resultado da 

consulta são: COD\_PROD, MEDIA. Agrupe o resultado da consulta por COD\_PROD.

In [67]:
SELECT  COD_PROD
        ,AVG(DESCONTO) AS 'MÉDIA DE DESCONTO'
from    atividade.dbo.vendas
GROUP BY COD_PROD
ORDER BY AVG(DESCONTO) DESC
GO

COD_PROD,MÉDIA DE DESCONTO
1,"5,60"
3,"4,80"
5,"2,6666"
2,"2,25"
4,"1,25"

k) Qual o menor, maior e o valor médio dos descontos dados por produto. As colunas presentes no 

resultado da consulta são: COD\_PROD, MENOR, MAIOR, MEDIA. Agrupe o resultado da consulta por 

COD\_PROD.

In [68]:
SELECT   COD_PROD
        ,MIN(DESCONTO) AS 'MENOS DESCONTO'
        ,MAX(DESCONTO) AS 'MAIOR DESCONTO'
        ,AVG(DESCONTO) AS 'MÉDIA DE DESCONTO'
FROM atividade.dbo.vendas
GROUP BY COD_PROD
GO

COD_PROD,MENOS DESCONTO,MAIOR DESCONTO,MÉDIA DE DESCONTO
1,"0,00","15,00","5,60"
2,"0,00","5,00","2,25"
3,"0,00","20,00","4,80"
4,"0,00","5,00","1,25"
5,"0,00","15,00","2,6666"

l) Quais as NF que possuem mais de 3 itens vendidos. As colunas presentes no resultado da consulta 

são: ID\_NF, QTD\_ITENS. 

OBS: Não está relacionado a quanƟ dade vendida do item e sim a quanƟ dade de itens por nota 

fiscal. Agrupe o resultado da consulta por ID\_NF.

In [72]:
SELECT  TOP(3) ID_NF
        ,SUM(QUANTIDADE) AS 'QUANTIDADE DE ITENS'
FROM atividade.dbo.vendas
GROUP BY ID_NF
ORDER BY SUM(QUANTIDADE) DESC
GO

ID_NF,QUANTIDADE DE ITENS
4,50
6,47
7,40